* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
a {
  color: #666;
}
a:hover{
  color: red;
}
@font-face {
  font-family: 'iconfont';  /* project id 2045319 */
  src: url('http://at.alicdn.com/t/font_2045319_m9n1eo3cva.eot');
  src: url('http://at.alicdn.com/t/font_2045319_m9n1eo3cva.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_2045319_m9n1eo3cva.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_2045319_m9n1eo3cva.woff') format('woff'),
  url('http://at.alicdn.com/t/font_2045319_m9n1eo3cva.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_2045319_m9n1eo3cva.svg#iconfont') format('svg');
}

.iconfont{
  font-family: 'iconfont';
  font-style: normal;
}


body {
  background-color: #f4f4f4;
}
.clearfix::after{
  display: block;
  content: '';
  clear: both;
}
.shortcut {
  height: 30px;
  line-height: 30px;
  background-color: #e3e4e5;
  border-bottom: 1px solid #ddd;
}
.header {
  height: 140px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.fs {
  height: 480px;
  width: 1190px;
  margin: 0 auto;
  /* background-color: aqua; */
}
.w {
  width: 1190px;
  margin: 0 auto;
  font-size: 12px;
  color: #999;
  cursor: pointer;
  position: relative;
}
.seckill {
  height: 260px;
  background-color: brown;
}
.fs::after {
  content: "";
  clear: both;
  display: block;
}
.fs-1,
.fs-2,
.fs-3 {
  height: 100%;
}
.fs-1 {
  width: 190px;
  float: left;
  margin-right: 10px;
  /* background-color: burlywood; */
  position: relative;
}
.fs-2 {
  width: 790px;
  float: left;
}
.fs-3 {
  width: 190px;
  float: right;
  /* background-colorgb(58, 71, 95)lue; */
}

.swiper-1 {
  width: 590px;
  height: 470px;
  margin-top: 10px;
  /* background-color: coral; */
  float: left;
}
.swiper-2 {
  width: 190px;
  height: 470px;
  margin-top: 10px;
  /* background-color: coral; */
  float: right;
}
.focus-item-img{
      height: 100%;
      width: 100%;
}
.recommend-item__image{
  width: 100%;
  height: 150px;
  margin-bottom: 10px;

}
.seckill{
  width: 1190px;
  margin: 0 auto;
  margin-top: 20px;

}
.seckill-countdown{
  width: 190px;
  height: 100%;
  background-color: #f00;
  float: left;
}
.seckill-content{
  float: left;
  height: 100%;
  width: calc(100% - 190px);
  background-color:#fff;
  
}
.seckill-list{
  width: 800px;
  height: 100%;
  float: left;
}
.seckill-brand {
  float: right;
  width: 200px;
  height: 260px;
  padding: 10px;
  box-sizing: border-box;
}
.seckill-list .seckill-item {
  position: relative;
  width: 200px;
  height: 260px;
  /* display: inline-block; */
  float: left;
  width: 200px;
}
.seckill-list .seckill-item__image {
  width: 140px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.seckill-list .seckill-item__name {
  font-size: 12px;
  font-weight: 400;
  color: #333;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.seckill-list .seckill-item__price .price-miaosha {
  width: 92px;
  height: 100%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  float: left;
}
.seckill-list .seckill-item__price .price-origin {
  height: 100%;
  width: 66px;
  float: right;
  background: #fff;
  text-align: center;
  color: #999;
  font-size: 12px;
  line-height: 22px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: line-through;
  vertical-align: top;
}
.lazyimg_img {
  width: 100%;
  height: 100%;
  /* opacity: 0; */
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  -webkit-backface-visibility: hidden;
}
.seckill-list .seckill-item__name {
  font-size: 12px;
  font-weight: 400;
  color: #333;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.seckill-list .seckill-item__name {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
}
.seckill-list .seckill-item__price {
  border: 1px solid #e1251b;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 24px;
  overflow: hidden;
  background-color: #e1251b;
}
.seckill-list .seckill-item__price {
  width: 160px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
}
.seckill-list .seckill-item__price .price-miaosha i {
  font-size: 12px;
  font-weight: 400;
  padding-right: 2px;
}

.seckill-brand .brand-item {
  position: relative;
  height: 240px;
  float: left;
  width: 180px;
}
.seckill-brand .brand-item .item-image {
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.seckill-brand .brand-item .item-info {
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.5)),to(rgba(220,224,236,.5)));
  background: linear-gradient(180deg,rgba(255,255,255,.5),rgba(220,224,236,.5));
  text-align: center;
  font-size: 14px;
  position: relative;
}
.seckill-brand .brand-item .item-info {
  width: 100%;
  height: 90px;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
