.fs-menu{
    margin-top: 10px;
    height: 470px;
    background-color: #fff;
    padding:10px 0 ;
    box-sizing: border-box;
}
.fs-menu li{
    height:25px ;
    line-height: 25px;
    padding-left: 18px;
    font-size: 14px;
    color: #333;
}
.fs-menu li a{
    color: #333;
}
.fs-menu li.active{
    background-color: #d9d9d9;
}
.menu-content{
    width: 998px;
    min-height: 468px;
    border: 1px solid #f7f7f7;
    background-color: #fff;
    position: absolute;
    left: 190px;
    top: 10px;
    z-index: 100;
    display: none;
    padding: 20px 0 10px;
    font-size: 12px;
    box-sizing: border-box;
}
.menu-content .tabs-nav {
    padding-left: 20px;
    height: 24px;
}
.menu-content .tabs-nav a{
    float: left;
    margin-right: 10px;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    background-color: #333;
    color: #fff;
}
.menu-content .tabs-nav a:hover {
        background-color: #c81623;
        color:#fff;
}
.menu-content .cate-detail {
    padding: 10px 0 0 20px;
}
.menu-content .cate-detail .cate-item a{
    white-space: nowrap;
    height: 16px;
    line-height: 16px;
    margin: 3px 0 ;
    padding: 0 7px;
    color: #666;
    display: inline-block;
}
.menu-content .cate-detail .cate-item a:hover{
    color: #c81623;
}

.menu-content .cate-detail .cate-item dt {
    width: 70px;
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
    float: left;
}

.menu-content .cate-detail .cate-item dd{
    overflow: hidden;
    max-width: 730px;
}



